* {
  padding: 0;
}
.handle {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  cursor: default;
}
.letters {
  cursor: pointer;
  width: 94px;
  margin-right: 40px;
}
.letter {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  text-transform: uppercase;
  font-size: 15px;
}

.letter:nth-child(1), .letter:nth-child(2), .letter:nth-child(3) {
  border-top: 1px solid gray;
}

.letter:nth-child(3n+1) {
  border-left: 1px solid gray;
}
.hide {
  opacity: 0%;
}
.guesses {
  font-size: 20pt;
  width: 100%;
  text-align: center;
  font-family: Menlo, Monaco, Consolas, Inconsolata, 'Courier New', monospace;
}
.winner {
  float: left;
  position: relative;
  margin-left: 0px;
}
.loser {
  float: left;
  position: relative;
  margin-left: 0px;
}
.button-wrapper {
  text-align: right;
}
.button {
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: cornflowerblue;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-top: 30px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .media-wrapper {
    width: 50%;
  }
  .media-wrapper img {
    width: 150px;
  }
}
