.handle {
  display: contents;
  flex-direction: row;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  cursor: default;
}
.letters {
    font-size: 20pt;
    float:left;
    position: relative;
    width: 20%;
    height: 30%;
    margin-left: 10%;
    margin-bottom: 10%;
    overflow:hidden;
    outline: 0.08em solid silver;
}
.hide {
  opacity:0%;
}